@import "../../style/variables";
@import "../../style/mixin";
.hero-cont {
  width: 100%;
  height: fit-content;
}
.row-cont {
  @include flex();
}
.col-name {
  @include flex(center, end);
  .my-name {
    width: fit-content;
    span,
    h1 {
      color: $fontColor;
    }
    h1 {
      font-size: 80px;
      font-weight: 600;
    }
    span {
      font-size: 20px;
    }
  }
}

.my-img {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
  border-radius: 20px;
  @include flex();
  img {
    height: 100%;
    object-fit: cover;
  }
}
.my-prof {
  h1,
  p {
    color: $fontColor;
  }
  h1 {
    font-size: 80px;
    font-weight: 600;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
  .row-cont {
    flex-direction: column;
    .col-name{
        @include flex(center);
    }
    .my-img {
        img {
            height: 400px;
        }
    }
    .my-prof{
        @include flex(center);
        flex-direction: column;
    }
  }
}
