@import "../../style/mixin";

.contact-cont {
  width: 100%;
  height: fit-content;
  @include flex();
}
.cont-img {
  width: 50%;

  &-riya {
    width: 400px;
    height: 450px;
    overflow: hidden;
    border-radius: 20px;
    @include flex();
  }
  img {
    width: 100%;
    height: 100%;
  }
}
