@import "../../style/mixin";
@import "../../style/variables";


$color:yellow;

.contact-cont {
  width: 100%;
  height: fit-content;
  @include flex();
}
.cont-img {
  width: 50%;

  &-riya {
    width: 400px;
    height: 450px;
    overflow: hidden;
    border-radius: 20px;
    @include flex();
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.contact-title{
  h1{
    @include text(4rem, 900);
  }
  p{
    @include text(1rem, 300)
  }
}
.contact-form{
  @include flex();
  flex-direction: column;
  color: yellow;

  .form-top{
    @include flex();
    width: 100%;
    gap: 10px;
  }
}
.form-input{
  display: flex;
  flex-direction: column;
  width: 100%;
  
  input{
    border-radius: 30px;
    border: none;
  }
   textarea{
    border-radius: 30px;
    border: none;
    height: 120px;
  }

}
 .form-btm{
  width: 100%;
}
  .contact-btn{
    width: 100px;
    padding: 10px;
    border-radius: 30px;
    background-color: black;
    color: yellow;
  }