@mixin flex($align: center , $justify: center) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin text($font, $weight){
    font-size: $font;
    font-weight: $weight;
}