@import "../../style/mixin";
.ourProject-cont {
  min-height: 100vh;
  width: 100%;
  padding: 50px;
}

.ourProject-title {
  width: 100%;
  h1 {
    @include text(5rem, 900);
  }

  h2 {
    @include text(1rem, 200);
  }
}
.Cards-cont{
    margin: 50px;
    display: flex;
    @include flex();
    flex-wrap: wrap;
    gap: 50px;
    
}

