@import "../../style/mixin";
.about-cont {
  height: 100vh;
  width: 100%;
}
.about-content {
  @include flex(start, end);
  flex-direction: column;
  gap: 30px;

  h1 {
    @include text(6rem, 900);
  }
  h3 {
    @include text(3rem, 900);
  }
  p {
    @include text(1rem, 500);
  }
  .social-media {
    width: fit-content;
    @include flex();
    gap: 10px;

    a {
      color: white;
    }
  }
}
.myimg-cont {
  @include flex();

  .myimg {
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
    @include flex();
  }
}

@media screen and (max-width: 790px) {
  .about-cont {
    height: fit-content;
    
  }
  .about-content {
    font-size: 4rem;
    @include flex(center);
    width: fit-content;
    h1 {
      font-size: 4rem;
    }
    .about-me{
        align-items: center;
        justify-content: center
    }
    h3 {
      @include text(2rem, 500);
    }

    p {
      @include text(1rem, 100);
      width: 300px;
    }
  }
}
